// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome 
@import "~font-awesome/css/font-awesome.css";

// Custom css
video#bgvid {
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
}

.bg-medium {
    background-color: rgba(51, 51, 51, 0.712);
}